<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="Course Title" class="form-label">Course Title</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="Course Description" class="form-label">Course Description</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="Course Duration" class="form-label">Course Duration</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="Course Date" class="form-label">Course Date</label>
                    <input type="date" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="Course Venue" class="form-label">Course Venue</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
